dist/money.html
<!DOCTYPE html><html lang="ru"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta http-equiv="X-UA-Compatible" content="ie=edge"><title>Money</title><link rel="stylesheet" href="foundation.css"><link rel="stylesheet" href="index.css"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans"></head><body><div class="header row align-justify collapse"><img class="column shrink" src="images/logo.png" alt="Money"><div class="column shrink flex-container flex-dir-column align-center"><p class="lx-buyers m-b"><span class="header-buyers_text">Покупателей трафика на базе</span><span class="header-buyers_count bold text-green">532 258</span></p><p class="lx-earned bold"><span class="header-earned_text">Сегодня заработано: </span><span class="header-earned_count text-green">4 698 851 РУБ</span></p></div></div><div class="row align-right collapse"><div class="column small-12 medium-4"><img class="img-boy" src="images/img-boy.png"></div><div class="column small-12 medium-8 p-l30"><div class="row align-justify align-middle m-b3"><p class="bold fs-24">Что вам потребуется?</p><button class="button green traffic" open-estimate>Продать трафик</button><button class="button orange traffic">Купить трафик</button></div><div class="row bold"><p class="fs-95">ЗАРАБАТЫВАЙТЕ</p><p class="fs-70 p-5 button orange no-transform m-b2">от <span class="fs-95">30 000</span> руб/день</p><p class="fs-60">НА ВАШЕМ ДОМАШНЕМ ИНТЕРНЕТЕ</p></div><div class="row"><img class="img-hands" src="images/pic-hand.png"></div></div><div class="column small-12"><div class="row img-hands"><img class="img-lamp" src="images/lamp.png"><p class="fs-30 bold">ЕСЛИ У ВАС ЕСТЬ ДОСТУП<br> В ИНТЕРНЕТ, ПРОДАЙТЕ ЧАСТЬ СВОЕГО ТРАФИКА</p></div></div></div><div class="bg-white fs-24"><p class="fs-30 center bold m-b">ЕСЛИ У ВАС ЕСТЬ ДОСТУП К ИНТЕРНЕТУ, ПРОДАЙТЕ ЧАСТЬ СВОЕГО ТРАФИКА НА САЙТЕ И ПОЛУЧИТЕ</p><p class="fs-48 center bold text-green m-b2">ДЕНЬГИ УЖЕ ЧЕРЕЗ 10 МИНУТ</p><div class="row align-middle m-b2"><div class="column small-4"><img class="img-boy-2" src="images/img-boy2.png"></div><div class="column small-8"><p class="fs-48 bold m-b2">КАК ЭТО РАБОТАЕТ?</p><p class="m-b2">В интернете ежедневно появляются миллионы сайтов. Большинству из них просто требуется повышение позиции в поисковых системах, таких как Яндекс и Google. Ведь от этого, напрямую зависит прибыль, которую сайты принесут своим владельцам.</p><p class="m-b2 text-green">Вебмастера вкладывают внушительные суммы в направление посетителей (трафика) на свои сайты</p><p class="m-b2">Поисковая система видит, что сайты посещают много людей, значит - они популярны и повышают их позицию в поисковых запросах.</p></div></div><div class="row m-b2"><div class="column small-8"><p class="text-green m-b2">Платформа MONEY обьединяет интернет пользователей, готовых продать свой трафик и владельцев сайтов, этот трафик покупающих.</p><p class="m-b2">В нашей базе более 500 000 сайтов, которые регулярно покупают трафик обычных интернет-пользователей</p><p class="m-b2">Система сама подбирает вам подходящих покупателей, направляют ваш интернет-трафик на тысячи веб-сайтов</p><p><span class="text-green">Вам остается лишь нажать несколько кнопок и получить деньги за свой трафик.</span>Весь процесс зароботка польностью автоматизирован, поэтому зарабатывать с нами одно удовольствие!</p></div><div class="column small-4"><img src=""></div></div><div class="row"><div class="column small-4"><img src="images/img-boy2.png"></div><div class="column small-8"><p class="m-b">На MONEY получают стабильный доход уже тысячи пользователей из различных городов и стран</p><p class="button orange p-10-80 bold fs-18 center">Чтобы прямо сейчас зарабатывать на наше платформе, просто продайте часть интернет-трафика и выведите деньги удобным вам способом</p></div></div></div><div class="fs-24"><p class="fs-60 bold center m-b2">КАК ВАМ НАЧАТЬ ЗАРАБАТЫВАТЬ?</p><div class="row align-center m-b2"><p class="column shrink bold">Продать свой интернет трафик вы можете</p><p class="column shrink"><span class="button orange square bold p-10-25">ТОЛЬКО 1 РАЗ В СУТКИ</span></p></div><div class="row m-b"><div class="column small-8"><p class="m-b2">Это сделано для того, чтобы исключить повторные посещения за день и покупатели интернет-трафика получали на свои сайты только уникальных посетителей. Мы дорожим своей репутацией, поэтому работаем честно, как с продавцами, так и с покупателями интернет-трафика</p><p class="m-b fs-30 bold">ПРИДУМАЙТЕ ЛОГИН НА ТЕКУЩУЮ СЕССИЮ И НАЖМИТЕ КНОПКУ<br> "ОЦЕНИТЬ МОЙ ИНТЕРНЕТ ТРАФИК" И СЛЕДУЙТЕ ПОДСКАЗКАМ ПЛАТФОРМЫ</p><p class="fs-30 bold text-orange">ЖЕЛАЕМ ПРИЯТНОЙ РАБОТЫ!</p></div><div class="column small-4"><img src=""></div></div><div class="row align-center"><div class="column small-12 medium-7"><div class="form form-session center"><p class="lx-header bold m-b">ПРИДУМАЙТЕ ЛОГИН НА ТЕКУЩУЮ СЕССИЮ</p><input class="lx-input m-b p-10-25" type="text" placeholder="Логин"><p class="lx-extra m-b">Ваше местоположение:<br> Украина</p><button class="lx-input button green p-10-25 no-transform" open-estimate>Оценить мой интернет-трафик</button></div></div></div></div><div class="bg-white fs-24"><div class="row"><div class="column shrink"><img src=""></div><div class="column shrink"><p class="fs-30">Показано 8 комментариев из 10582</p></div></div><div class="comments-grid row m-center"><div class="row small-12 comment"><div class="column shrink"><img src=""></div><div class="column shrink"><div class="row small-12 align-middle"><p class="fs-16 bold">Имя пользователя</p><p>* * * * *</p></div><p class="small-12 fs-14">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh is Photoshop's version  of Lorem Ipsum. Proin gravida nibh. This is Photoshop's version  of Lorem Ipsum</p><p class="row small-12 fs-16"><img src=""><span>05</span><span>|</span><img src=""><span>10</span></p></div></div><div class="row small-12 comment"><div class="column shrink"><img src=""></div><div class="column shrink"><div class="row small-12 align-middle"><p class="fs-16 bold">Имя пользователя</p><p>* * * * *</p></div><p class="small-12 fs-14">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh is Photoshop's version  of Lorem Ipsum. Proin gravida nibh. This is Photoshop's version  of Lorem Ipsum</p><p class="row small-12 fs-16"><img src=""><span>05</span><span>|</span><img src=""><span>10</span></p></div></div><div class="row small-12 comment"><div class="column shrink"><img src=""></div><div class="column shrink"><div class="row small-12 align-middle"><p class="fs-16 bold">Имя пользователя</p><p>* * * * *</p></div><p class="small-12 fs-14">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh is Photoshop's version  of Lorem Ipsum. Proin gravida nibh. This is Photoshop's version  of Lorem Ipsum</p><p class="row small-12 fs-16"><img src=""><span>05</span><span>|</span><img src=""><span>10</span></p></div></div><div class="row small-12 comment"><div class="column shrink"><img src=""></div><div class="column shrink"><div class="row small-12 align-middle"><p class="fs-16 bold">Имя пользователя</p><p>* * * * *</p></div><p class="small-12 fs-14">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh is Photoshop's version  of Lorem Ipsum. Proin gravida nibh. This is Photoshop's version  of Lorem Ipsum</p><p class="row small-12 fs-16"><img src=""><span>05</span><span>|</span><img src=""><span>10</span></p></div></div><div class="row small-12 comment"><div class="column shrink"><img src=""></div><div class="column shrink"><div class="row small-12 align-middle"><p class="fs-16 bold">Имя пользователя</p><p>* * * * *</p></div><p class="small-12 fs-14">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh is Photoshop's version  of Lorem Ipsum. Proin gravida nibh. This is Photoshop's version  of Lorem Ipsum</p><p class="row small-12 fs-16"><img src=""><span>05</span><span>|</span><img src=""><span>10</span></p></div></div><div class="row small-12 comment"><div class="column shrink"><img src=""></div><div class="column shrink"><div class="row small-12 align-middle"><p class="fs-16 bold">Имя пользователя</p><p>* * * * *</p></div><p class="small-12 fs-14">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh is Photoshop's version  of Lorem Ipsum. Proin gravida nibh. This is Photoshop's version  of Lorem Ipsum</p><p class="row small-12 fs-16"><img src=""><span>05</span><span>|</span><img src=""><span>10</span></p></div></div></div><div class="row center m-b2"></div><div class="row align-center m-b2"><div class="column small-12 medium-8"><div class="form form-comments row"><p class="column small-12 fs-30 bold center m-b">ОСТАВИТЬ КОММЕТАРИЙ</p><div class="column small-6"><input class="lx-input m-b p-10-25" type="text" placeholder="Ваше имя"><button class="lx-input button green p-10-25 no-transform">Оставить комментарий</button></div><div class="column small-6"><textarea class="lx-input comment-area" rows="5"></textarea></div></div></div></div><div class="row align-center center m-b3"><p>Государственная лицензия №ДС0003124 от 16.08.2014г., бессрочная, выдана<br> Министерством связи и коммуникации Российской Федерации</p></div><div class="row align-justify align-middle collapse p-b3"><img class="column shrink" src="images/logo.png" alt="Money"><div class="column shrink"><p class="fs-24 m-b">Контактный центр</p><p class="fs-36 text-green bold">8-800-000-00-00</p></div><div class="column shrink"><p class="fs-24 m-b">Служба поддержки</p><p class="fs-36 text-green bold">support@monkey.ru</p></div></div></div><div class="center copyright"><p class="fs-24">Copyright © 2017. Все права защищены</p></div><div class="popups hidden"><div class="popup" id="estimate-popup"><div class="row form form-estimate align-center m-b2"><p class="small-12 fs-30 bold center">ОЦЕНКА ВАШЕГО ИНТЕРНЕТ - ТРАФИКА</p><p class="small-12 fs-30 text-green bold center m-b">Оставайтесь на странице!</p><div class="row small-4"><div class="column"><p class="fs-24 bold">Статус оценки</p><img src=""></div></div><div class="row small-8"><div class="column"><p class="fs-24 bold m-b">Результат оценки</p><p class="fs-24 text-green bold m-b">Покупателей трафика подобрано</p><p class="lx-label ux-buyers m-b center" id="estimate-buyers">в обработке . . .</p><p class="fs-24 text-green bold m-b">Ваш потенциальный доход</p><p class="lx-label ux-income m-b center" id="estimate-income">в обработке . . .</p></div></div></div><p class="fs-24 bold center" id="estimate-counter">До завершения осталось: 60 секунд</p><button class="button orange hidden p-10-25 m-center center" id="estimate-finish" style="max-width: 500px;">Продать интернет трафик</button></div><div class="popup hidden" id="sell-popup"><div class="row form form-estimate flex-dir-column align-middle m-b2"><p class="fs-30 bold center">ПРОДАЖА ВАШЕГО ИНТЕРНЕТ - ТРАФИКА</p><p class="fs-30 text-green bold center m-b">Оставайтесь на странице!</p><img src=""><p class="bold fs-24">Переходы на сайты покупателей трафика</p><p class="m-b2 fs-60 bold green-text">16385</p><p class="bold fs-24" id="sell-counter">До завершения осталось: 60 секунд</p></div></div><div class="popup hidden" id="withdrawal-popup"></div></div><script src="index.js"></script></body></html>

source/money.pug
extends ./v-partials/layout.pug

block content

  include ./v-partials/header.pug

  div(class="row align-right collapse")
    div(class="column small-12 medium-4")
      img(class="img-boy" src="images/img-boy.png")
    div(class="column small-12 medium-8 p-l30")
      div(class="row align-justify align-middle m-b3")
        p(class="bold fs-24") Что вам потребуется?
        button(class="button green traffic" open-estimate) Продать трафик
        button(class="button orange traffic") Купить трафик
      div(class="row bold")
        p(class="fs-95") ЗАРАБАТЫВАЙТЕ
        p(class="fs-70 p-5 button orange no-transform m-b2") от #[span(class="fs-95") 30 000] руб/день
        p(class="fs-60") НА ВАШЕМ ДОМАШНЕМ ИНТЕРНЕТЕ
      div(class="row")
        img(class="img-hands" src="images/pic-hand.png")
    div(class="column small-12")
      div(class="row img-hands")
        img(class="img-lamp" src="images/lamp.png")
        p(class="fs-30 bold") ЕСЛИ У ВАС ЕСТЬ ДОСТУП#[br] В ИНТЕРНЕТ, ПРОДАЙТЕ ЧАСТЬ СВОЕГО ТРАФИКА
  
  div(class="bg-white fs-24")
    p(class="fs-30 center bold m-b") ЕСЛИ У ВАС ЕСТЬ ДОСТУП К ИНТЕРНЕТУ, ПРОДАЙТЕ ЧАСТЬ СВОЕГО ТРАФИКА НА САЙТЕ И ПОЛУЧИТЕ
    p(class="fs-48 center bold text-green m-b2") ДЕНЬГИ УЖЕ ЧЕРЕЗ 10 МИНУТ
    div(class="row align-middle m-b2")
      div(class="column small-4")
        img(class="img-boy-2" src="images/img-boy2.png")
      div(class="column small-8")
        p(class="fs-48 bold m-b2") КАК ЭТО РАБОТАЕТ?
        p(class="m-b2") В интернете ежедневно появляются миллионы сайтов. Большинству из них просто требуется повышение позиции в поисковых системах, таких как Яндекс и Google. Ведь от этого, напрямую зависит прибыль, которую сайты принесут своим владельцам.
        p(class="m-b2 text-green") Вебмастера вкладывают внушительные суммы в направление посетителей (трафика) на свои сайты
        p(class="m-b2") Поисковая система видит, что сайты посещают много людей, значит - они популярны и повышают их позицию в поисковых запросах.
    div(class="row m-b2")
      div(class="column small-8")
        p(class="text-green m-b2") Платформа MONEY обьединяет интернет пользователей, готовых продать свой трафик и владельцев сайтов, этот трафик покупающих.
        p(class="m-b2") В нашей базе более 500 000 сайтов, которые регулярно покупают трафик обычных интернет-пользователей
        p(class="m-b2") Система сама подбирает вам подходящих покупателей, направляют ваш интернет-трафик на тысячи веб-сайтов
        p
          span(class="text-green") Вам остается лишь нажать несколько кнопок и получить деньги за свой трафик.
          | Весь процесс зароботка польностью автоматизирован, поэтому зарабатывать с нами одно удовольствие!
      div(class="column small-4")
        img(src="")
    div(class="row")
      div(class="column small-4")
        img(src="images/img-boy2.png")
      div(class="column small-8")
        p(class="m-b") На MONEY получают стабильный доход уже тысячи пользователей из различных городов и стран
        p(class="button orange p-10-80 bold fs-18 center") Чтобы прямо сейчас зарабатывать на наше платформе, просто продайте часть интернет-трафика и выведите деньги удобным вам способом
  
  div(class="fs-24")
    p(class="fs-60 bold center m-b2") КАК ВАМ НАЧАТЬ ЗАРАБАТЫВАТЬ?
    div(class="row align-center m-b2")
      p(class="column shrink bold") Продать свой интернет трафик вы можете
      p(class="column shrink"): span(class="button orange square bold p-10-25") ТОЛЬКО 1 РАЗ В СУТКИ
    div(class="row m-b")
      div(class="column small-8")
        p(class="m-b2") Это сделано для того, чтобы исключить повторные посещения за день и покупатели интернет-трафика получали на свои сайты только уникальных посетителей. Мы дорожим своей репутацией, поэтому работаем честно, как с продавцами, так и с покупателями интернет-трафика
        p(class="m-b fs-30 bold") ПРИДУМАЙТЕ ЛОГИН НА ТЕКУЩУЮ СЕССИЮ И НАЖМИТЕ КНОПКУ#[br] "ОЦЕНИТЬ МОЙ ИНТЕРНЕТ ТРАФИК" И СЛЕДУЙТЕ ПОДСКАЗКАМ ПЛАТФОРМЫ
        p(class="fs-30 bold text-orange") ЖЕЛАЕМ ПРИЯТНОЙ РАБОТЫ!
      div(class="column small-4")
        img(src="")
    div(class="row align-center")
      div(class="column small-12 medium-7")
        div(class="form form-session center")
          p(class="lx-header bold m-b") ПРИДУМАЙТЕ ЛОГИН НА ТЕКУЩУЮ СЕССИЮ
          input(class="lx-input m-b p-10-25" type="text" placeholder="Логин")
          p(class="lx-extra m-b") Ваше местоположение:#[br] Украина
          button(class='lx-input button green p-10-25 no-transform' open-estimate) Оценить мой интернет-трафик
  
  div(class="bg-white fs-24")
    div(class="row")
      div(class="column shrink")
        img(src="")
      div(class="column shrink")
        p(class="fs-30") Показано 8 комментариев из 10582
    div(class="comments-grid row m-center")
      - for(let i = 0; i < 6; i++)
        div(class="row small-12 comment")
          div(class="column shrink")
            img(src="")
          div(class="column shrink")
            div(class="row small-12 align-middle")
              p(class="fs-16 bold") Имя пользователя
              p * * * * *
            p(class="small-12 fs-14") This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh is Photoshop's version  of Lorem Ipsum. Proin gravida nibh. This is Photoshop's version  of Lorem Ipsum
            p(class="row small-12 fs-16")
              img(src="")
              span 05
              span |
              img(src="")
              span 10

    div(class="row center m-b2")
      //- button(class="show-more fs-18 m-center") Показать ещё

    div(class="row align-center m-b2")
      div(class="column small-12 medium-8")
        div(class="form form-comments row")
          p(class="column small-12 fs-30 bold center m-b") ОСТАВИТЬ КОММЕТАРИЙ
          div(class="column small-6")
            input(class="lx-input m-b p-10-25" type="text" placeholder="Ваше имя")
            button(class="lx-input button green p-10-25 no-transform") Оставить комментарий
          div(class="column small-6")
            textarea(class="lx-input comment-area" rows="5")

    div(class="row align-center center m-b3")
      p Государственная лицензия №ДС0003124 от 16.08.2014г., бессрочная, выдана#[br] Министерством связи и коммуникации Российской Федерации

    div(class="row align-justify align-middle collapse p-b3")
      
      img(class="column shrink" src="images/logo.png" alt="Money")

      div(class="column shrink")
        p(class="fs-24 m-b") Контактный центр
        p(class="fs-36 text-green bold") 8-800-000-00-00

      div(class="column shrink")
        p(class="fs-24 m-b") Служба поддержки
        p(class="fs-36 text-green bold") support@monkey.ru

  div(class="center copyright")
    p(class="fs-24") Copyright © 2017. Все права защищены

  div(class="popups hidden")

    div(class="popup" id="estimate-popup")
      include ./v-partials/estimate.pug

    div(class="popup hidden" id="sell-popup")
      include ./v-partials/sell.pug

    div(class="popup hidden" id="withdrawal-popup")
      include ./v-partials/withdrawal.pug
